* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.3rem;
  font-family: arial, sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
header {
  width: 100%;
  height: 6rem;
}
header nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header nav .nav-right-section {
  width: 25rem;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav .nav-right-section a {
  margin-right: 1rem;
  color: black;
}
nav .nav-right-section img {
  border-radius: 5rem;
  margin-left: 1rem;
}

main {
  margin-top: 1rem;
  text-align: center;
}
main .main-logo {
  width: 53rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}
main .main-input {
  width: 53rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}
main .main-input .main-input-container {
  width: 58rem;
  border-radius: 10rem;
  border: 0.1rem solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-input-container input {
  width: 48rem;
  height: 4rem;
  border: none;
  outline: none;
}
main .main-input .main-input-container:hover {
  box-shadow: 0 0.1rem 0.6rem 0 #20212447;
  border-color: ##dfe1e500
}
main .main-input .micro-icon {
  cursor: pointer;
}
main .main-buttons {
  width: 53rem;
  margin: 0 auto;
}
main .main-buttons div {
  display: inline-block;
}
main .main-buttons button {
  height: 3.6rem;
  background-color: #f8f9fa;
  border: 0;
  font-size: 1.4rem;
  color: #202124;
  border-radius: 0.4rem;
  padding: 0 1.5rem;
  width: 15rem;
  margin-right: 1.5rem;
  white-space: nowrap;
}
main .main-buttons button:hover {
  box-shadow: 0 0.1rem 0.1rem rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 0.1rem solid #dadce0;
  color: #202124;
  cursor: pointer;
}
main .main-offer {
  width: 30rem;
  margin: 0 auto;
  margin-top: 3rem;
}

footer {
  width: 100%;
  height: 4.6rem;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 1.4rem;
  background-color: #f2f2f2;
  border-top: 0.1rem solid #dadce0;
}
footer ul {
  margin: 1rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}
footer .footer-left {
  justify-self: left;
}
footer .footer-right {
  justify-self: right;
}
footer ul li a {
  margin: 1rem;
  color: #70757a;
  white-space: nowrap;
}